{{#if control.hasPrerequisites}}
	{{#if caption}}
		<h3 class="panel-caption">{{caption}}</h3>
	{{/if}}
	<controls>{{#each inputControls as |control|}}{{component control.decorator control}}{{/each}}</controls>
	
	<actions>{{#each actionControls as |control|}}{{component control.decorator control}}{{/each}}</actions>
	{{furnace-form-messages}}
{{/if}}
