{{#if caption}}
	<h2 class="form-caption">{{caption}}</h2>
{{/if}}
<controls>{{#each inputControls as |control|}}{{component control.decorator control}}{{/each}}</controls>
<actions>{{#each actionControls as |control|}}{{component control.decorator control}}{{/each}}</actions>
{{furnace-form-messages}}