{{#if caption}}
	<h3 class="panel-caption">{{i18n caption}}</h3>
{{/if}}

{{#each control in inputControls}}
{{f-control control}}
{{/each}}

{{#each control in actionControls}}
{{f-control control}}
{{/each}}
{{view "messages"}}