<label for={{inputId}}>{{caption}}</label>
{{input name=name type="password" class=name value=value placeholder=placeholder  didInsertElement=inputInsert focus-in="focus" focus-out="blur"}}
{{f-messages}}