<h2>Acceptance Tests</h2>
<ul>
	<li>{{#link-to 'acceptance.conditions'}}Conditions{{/link-to}}</li>
	<li>{{#link-to 'acceptance.lists'}}Lists{{/link-to}}</li>
	<li>{{#link-to 'acceptance.options'}}Options{{/link-to}}</li>
</ul>
{{outlet}}